extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Kasoma Ibrahim

        p Full Stack JavaScript Developer


        .about-bio

          p I am a Full Stack Javascript Developer able to build a Web presence from the ground up - from concept, navigation, Responsive layout and programming.
            br
            |Skilled at writing well-designed, testable and efficient code using current best practices in Web development.
            br
            |Fast leaner, hard worker and team player who is looking for the right opportunity to work in an environment that will help me progress into a full-stack role.
          p I started my development journey at the end 2018 through video tutories on youtube which helped me to land my first job as a developer for a small digital agency in Uganda building HTML and CSS projects for small retail clients, after working there for almost two years I discovered that i needed to learn more so i enrolled in an online Learning Platform "Team TreeHouse" where i have gained more skills.
            br
            |For the past nine months i have managed to learn Front End Development and Full stack Javascript Development.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li SASS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li jQuery
          li Bootstrap
          li SVG

        h6 Contact Info

        ul
          li 555-555-1234
          li kasomaibrahim@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/kasoma-ibrahim-89a732168/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/akibrahimug' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/Akibrahimug' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back