extends layout

block content
    article.portfolio-intro
    h1.error-h1 Sorry!
        p Something Went wrong with your request please try again
        p Error Code: #{err}
    nav.nav
      a(href='/')
        span &larr;
        |  Back